{% load static %}
<html>
<head>
	<title>Animated Login Form</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
	{% comment %} <link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %} "> {% endcomment %}
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class='alert-box'>
    {% for message in messages %}
    <div {% if message.tags %}  class="alert alert-{{message.tags}}"  {% endif %} >
   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  {{message}}
 </div> 
       {% endfor %}

  </div>
    
	<img class="wave"  src="{% static 'img/wave.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static 'img/educator.svg' %}">
		</div>
		<div class="login-content">
			<form action="", method='POST'>
                {% csrf_token %}
				<img src="{% static 'img/avatar.svg' %}">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input name='uname' type="text" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input name='pswd' type="password" class="input">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>