{% extends 'base.html' %}
<!-- {% load static %} -->
{% block content %}

<h1>
    This is display.html
</h1>

<form action="" method="post">
        {% csrf_token %}
        <select name="coursef" >
            <option value selected>---------</option>
            <p>course</p>
            {% comment %} {{ i }} {% endcomment %}
            {% for course in courses %}
             <option   value="{{course.course}}"> {{course.course}}</option>
            {% endfor %}
        </select>

        <button type="submit">Submit</button>
</form>

{% endblock content %}